* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-image: linear-gradient(to right, blue,#89cff0 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #f5f5dc;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h2 {
    margin-bottom: 24px;
    color: #000000;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 8px;
    margin-bottom: 24px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}
input[type="submit"] {
    background-color:	#00008b;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #2e75c2;
}
a {
    display: block;
    text-align: center;
    margin-top: 16px;
    color: 	#8B0000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
